.logo {
    width: 172px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.logo:hover {
  filter: brightness(1.1);
}

.logo__icon {
  width: 28px;
  height: 22px;
  color: var(--accent-color);
}

.logo__title {
  font-size: 30px;
  font-weight: 500;
}

.logo__title_primary {
  color: var(--primary-color);
}

.logo__title_secondary {
  color: var(--secondary-color);
}
