.main-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: content;
    padding-top: 130px;
}

.main-screen__text {
    max-width: 380px;
}

@media (max-width: 620px) {
    .main-screen {
        padding-top: 0;
        max-width: 100%;
    }
}